<app-home></app-home>
<h3 class="mt-5 mb-3">{{'reservation.list'}}</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>{{'reservation.guest-name'}}</th>
            <th>{{'reservation.guest-email'}}</th>
            <th>{{'reservation.guest-room-number'}}</th>
            <th>{{'reservation.guest-checkin-date'}}</th>
            <th>{{'reservation.guest-checkout-date'}}</th>
            <th>{{'reservation.actions'}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let reservation of reservations">
            <td>{{reservation.guestName}}</td>
            <td>{{reservation.guestEmail}}</td>
            <td>{{reservation.roomNumber}}</td>
            <td>{{reservation.checkInDate}}</td>
            <td>{{reservation.checkOutDate}}</td>
            <td>
                <button class="btn btn-danger mx-1"
                    (click)="deleteReservation(reservation.id)">{{'reservation.delete'}}
                </button>
                <button class="btn btn-secondary mx-1"
                    [routerLink]="['/edit',reservation.id]"
                    routerLinkActive="router-link-active">{{'reservation.edit'}}
                </button>
            </td>
        </tr>
    </tbody>
</table>

<ul *ngIf="reservations.length; else noReservations">

</ul>

<ng-template #noReservations>
    <p>{{'reservation.no-reservations-available'}}</p>
    <button class="btn btn-primary" (click)="goToCreate()">
        {{'reservation.create-a-new-one'}}
    </button>

</ng-template>